$lte7:false;
$greenColor:#48AE15;
@import "base.css";
@import "d:/sassCore/_function.scss";
body{
    max-width:1920px;
    margin:0 auto;
    background: url("../img/1H03633L-3.jpg") no-repeat;
    background-attachment:fixed;
}
.lacaTion{
    @extend .divClasses;
    margin: 0;
    background-color: white;
} 
a:visited{
    color: blue;
}
a:active{
    color: red;
}
textarea{
    background-color: #EDEDED;
    display: none;
}
.danQianweizhi{
    display:inline-block;
    padding-left:40px;
    position: absolute;
    right: 0;
    bottom: 0;
    a{
        color:silver;
        padding: 0 10px;
    }
}
.xiaoGuotu{
    border: 1px solid $greenColor;
    margin: 20px 10px;
    border-radius: 10px;
    position: relative;
    text-align: center;
    p{
        padding: 10px;
        font-size: 20;
        border-bottom: 1px solid silver;
        margin: 10px;
        text-indent: 0;
    }
}
.jsMenues{
    text-align: center;
    overflow: hidden;
    h2{
        font-size: 2em;
        font-weight: bold;
        color:$greenColor;
        margin: 10px;
    }
    p{
        font-size: 20px;
         text-indent: 2em;
         text-align: left;
    }
}
.weiZhi {
    margin-top: 80px;
    position: relative;
    div {
        width:250px;
        padding:30px 0 10px 0;
        color:white;
        color: #1a8a00\9;
        text-shadow: -4px -4px 10px #1a8a00,4px -4px 10px #1a8a00, 4px 4px 10px #1a8a00,-4px 4px 10px #1a8a00;
        font-size: 3em;
        font-weight: bold;
        
    }border-bottom: 1px solid $greenColor;
}

.divClasses{
    max-width:1000px;
    margin:0 auto;
}
.header{
    width:100%;
    position:fixed;
    top:0;
    margin:auto;
    background-color:white;
    z-index: 99;
    
}
.headerContain{
    height:80px;
    @extend %clearfix;
    @extend .divClasses;
    margin:0 auto;
}
.blog-logo{
    width:350px;
    height:80px;
    background: url("../img/logo.png") no-repeat;
    @extend %float;
}
.blog-picture{
        margin-top:80px;
        height:250px;
        *margin:0;
        *padding-top:80px;
        *height:215px;
        background:url("../img/xc-bg.jpg") no-repeat top center;
}
.menu {
    float:right;
    @extend %clearfix;
    margin-top:30px;
    margin-right: 10px;
    li{
        background-color:$greenColor;
        @include transform(skewX(25deg));
        position:relative;
        &:hover{
            background-color:#1a8a00;
        }
        a{
        display:block;
        padding:10px 30px;
        line-height:20px;
        @include transform(skewX(-25deg));
        span{
            display:block;
            @include transform(skewX(-25deg));
        }
        color:white;
    }

    @extend %float;
    text-align: center;
    } 
    .drop-menu{
        width:100%;
        position:absolute;
        visibility: hidden;
        
    }
}
.menuChild{
    background-color:$greenColor;
    position:relative;
    left:0;
    @include transition(all 0.2s linear);
    a{
        background-color:$greenColor;
        transform:skewX(0deg)!important;
        &:hover{
        background-color:#1a8a00;
        }
    }
}
.menuChildaddclass{
    left:-20px;
}
.menuChildaddclass1{
    left:20px;
}
#menu .innerMenu{
    div{
        width:360px;
    }
    a{
        padding:0;
        width:120px;
        height:40px;
        line-height:40px;
        display:inline-block;
        vertical-align: top;
    }   
    position:absolute;
    top:0px;
    left:-360px;
    visibility: hidden;
    overflow:hidden;
    width:0px;
    height:0px;
    @include transition(all 0.4s linear);
}
.menuChildaddclass2{
    visibility:visible!important;
    height:160px !important;
    z-index:999;
}
.studyInfinite{
    display:none;
    
    width:100%;
    background-color:white;
    position:fixed;
    top:0;
    z-index:999;
    margin-top: 44px;
    li{
        height:49px;
        border-bottom:1px solid lightblue;
        padding-left: 20px;
        a{
            display:inline-block;
            background-color:lightblue;

            padding:5px;
            margin: 10px 5px 10px 0;
            border-radius:5px;
            color:black;
        }
    }
}
@include max-screen(992px){
    .bodyRight{
        width:100%;
    }
    .zuiXintuijian li{
        width:100%;
    }
    .blog-bodys{
        max-width:874px;
        width:100%;
        margin:0 auto;
        background: url("../img/bodys1.png") no-repeat;
        padding-top:80px;
    }
    .wenZhangtuijian{
        width:100%
        
    }
    .wenZhangtuijian li{
            position:relative;
        }
}
.huiDingbu{
    width:50px;
    height:50px;
    border-radius: 25px;
    background-color:$greenColor;
    position:fixed;
    bottom:20%;
    right:0;
    cursor: pointer;
    z-index:999;
    text-align:center;
    color:white;
    @include opacity(70);
    display:none;
    &:before{
        @include triangle(top, 10px, white);
        @extend %float;
        margin:10px 15px 0 15px;

    }
}
.footer {
    border: 1px solid #ededed;
    height: 40px;
    border-bottom: none;
    background-color:white;
}
@include max-screen(955px){
    #menu{
        margin-top:0;
        float:none;
        margin:0 auto;
        width:575px;
        height:40px;
    }
    .blog-logo{
        float:none;
        margin:0 auto;

    }

}

@include keyframes(conver){
    0%{
        transform: translateX(-200px) rotateZ(0deg);
    }
    100%{
        @include opacity(100);
        transform: translateX(0px) rotateZ(360deg);
    }
}
@include keyframes(conver1){
    0%{
        transform: translateX(200px) rotateZ(0deg);
    }
    100%{
        @include opacity(100);
        transform: translateX(0px) rotateZ(-360deg);
    }
}
@include keyframes(conver2){
    0%{
        @include opacity(0);
    }

    100%{
        @include opacity(100);
    }
}
.headerXiaola{
    width: 100%;
    height: 10px;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 98;
    text-align: center;
    color: #8C8C8C;
}
.headerCopy{
    i{
        width:30px;
            height:30px;
            display:none;
            float:left;
            margin:13px 5px 2px 10px;
            &:before{
                
                content:"";
                display:block;
                width:30px;
                height:30px;
                
                background: url("../img/erro.png") no-repeat 0px 0px;
        }
    }
    overflow:visible;
    display:none;
    width:100%;
    height:44px;
    background-color:$greenColor;
    position:fixed;
    top:0;
    z-index:999;
    font-size:20px;
    color:white;
    line-height:44px;
    text-align:center;
    span{@extend %float;
        display:block;
        height:30px;
        height:30px;
        margin:7px 5px 2px 5px;
        &:before{
            margin:0 auto;
            content:"";
            display:block;
            width:30px;
            height:30px;
            background: url("../img/Home.png") no-repeat 0px 2px;

        }
    }
    span:nth-child(2){
        float:right;
        &:before{
            background: url("../img/font-340.png") no-repeat 0px 0px;
        }
        
    }
    ul{
        display:none;
    }
    li{
        font-size:16px;
        text-align:left;
        background-color:white;
        color:black;
        padding-left: 5px;
        border-bottom:1px solid lightblue;
        line-height:40px;
         a:link{
            color:black;
        }
        a:visited{
            color:black;
        }
        a{
            display:block;
        } 

    }
    .liNext{
        display:none;
        a{
            line-height:20px;
            font-size:16px;
            padding:5px 10px;
            display:inline-block;
        }
        text-align: center;
    }
}
.liAddClass{
    background-color:$greenColor!important;
    color:white!important;
    font-weight:blod!important;
}
.inforMation1{
    @extend .inforMation;
}
.readButton1{
    @extend .readButton;
}
.imforAndRead{
    display:none;
}
@include max-screen(670px){
    .headerXiaola{
        display:none;
    }
    .weiZhi{
        margin-top:44px;
    }
    .headerCopy{
        display:block
    }
    .blog-picture{
        margin-top:44px;
    }
    .header{
        display:none!important;
    }
    body{
        font-size:12px;
    }.geYan{
        font-size:12px;
    }
    .charsets{
        width:100px;
        height:100px;
    }
    .geYan a{
        width:100px;
    }
    .userName{
        width:100px;
        margin-top:100px;
        font-size:12px;
    }
    .wenZhangtuijian img{
        width:120px;
        height:100px;
    }
    .inforMation img{
        width:30px;
        height:30px;
    }
    .wenZhangcontain{
        left:125px;
        p{
            height:auto;
        }
    }
    .inforMation{
        display:none;
    }
    .readButton{
        display:none;
    }
    .imforAndRead{
        display:block;
        clear: both;
        height:40px;
    }
    .inforMation1{
        display:block;
    }
    .readButton1{
        display:block;
        float:right;
        margin-top: 6px;
        padding:5px 2px;
        font-size:12px;
        background-color:$greenColor;
        color:white;
    }
    .blog-picture{
        height:200px;
    }
    .danQianweizhi a{
        padding:0;
    }
    .weiZhi div{
        padding:10px 0 10px 0;
    }
    .danQianweizhi{
        font-size:12px;
    }
    .jsMenues{
        p{
            font-size:12px!important;
        }
        font-size:12px!important;
    }
    #menues{
        height:150px!important;
    }
    #conTain{
        width:100%important;
        height:160px!important;
    }
    #outeres{
        width:100%!important;
        margin:0 auto !important;
    }
    #inneres{
        margin-left: -400px!important;
    }
    .bodys-divContain{
        height:100px!important;
    }
    .conTaines{
        width:100%!important;
    }
    #wRapes{
        width:98%!important;
        height:300px!important;
    }
    #dRapes{
        width:10%!important;
        height:10%!important;
    }
    .main{
        width:98%!important;
         height:300px!important;
    }
    .contain{
         margin:0 auto !important;
    }
    .fanPaimain{
         margin:0 auto !important;
    }
    .liFantimain{
         width:98%!important;
         margin:0 auto !important;
         height:300px!important;
    }
    div.demo{
        width:98%!important;
        margin:0 auto !important;
        height:30px!important;
    }
    div.demo i{
        height:100px!important;
        width:20px!important;
        height:20px!important;
    }
    .layoutleft{
         height:100px!important;
        width:50px!important;
    }
    .layoutright{
         height:100px!important;
        width:70px!important;
    }
    .layoutmain{
        height:100px!important;
    }
    .shengbeicontains{
        width:100%!important;
    }
    #shengbeicontains{
       padding:0!important;
    }
    .shengbeileft{
        width:80px!important;
        margin-left: 14.5%!important;
    }
    .shengbeiright{
        width:100px!important;
        margin-left:-26%!important;
    }
    .textshadow{
        div {
            font-size:20px!important;
            margin:6px!important;
            line-height:50px!important;
            height:50px!important;
        }
        width:100%!important;
        height:auto!important;
    }
    .shengbeimain{
        width: 17%!important;
    }
    .shengbeibodys{
        padding-left: 80px!important;
        padding-right:100px!important;
    }
    #menues ul li{
        width:50px!important;
    }
    .menu li a{
        padding: 5px 8px!important;
    }
    #beautifulMenu{
        .innerMenu{
            div{
                width:280px!important;
            }
            left:-277px!important;
            a{
            height:auto!important;
            line-height:20px!important;
            width:75px!important;
        }
        }
         
        margin-left:50px!important;
    }
    .menuChildaddclass2{
        width:280px !important;
    }
        .menuChildaddclass{
        left:-10px!important;
    }
    .menuChildaddclass1{
        left:10px!important;
    }
    #leftimg{
        width:150px!important;
        height:150px!important;
    }
    #obj, #rightShow{
        width:150px!important;
        height:150px!important;
    }
    .toptitlediv{
        padding-left:10px!important;
    }
    .contain{
        width:100%!important;
        height:200px!important;
    }
    .contain .bodys div{
        line-height:200px!important;
    }
    .huiDingbu:before {
        margin: 3px 0px 0 5px!important;
    }
    .huiDingbu {
        width: 30px!important;
        height: 30px!important;
        border-radius: 15px!important;
        bottom:2%;
            right:2%;
    }
    #drag{
        width:50px!important;
        height:50px!important;
    }
    #rightShow img{
        width:300px!important;;
        height:300px!important;
    }
    textarea{
        width:100%!important;
    }
    .xuanzhuan{
        margin:0!important;
    }
    .xuanzhuanbodys{
        width:100%!important;
        height:300px!important;
    }
    #floatcontains{
        width:100%!important;
    }
    #floatcontains{
        height:auto!important;
    }
    #floatdiv1{
         height:100px!important;
         line-height:100px!important;
    }
    #floatdiv2{
         div{
            line-height:140px!important;
        }
        .floatclass5{
            line-height:70px!important;
        }
        height:350px!important;
    }
    #floatdiv3{
        div{
            line-height:175px!important;
        }
        height:350px!important;
        
    }
}
