@import "header.css";
@import "d:/sassCore/_function.scss";
%height{
    height: 300px;
}
#menues{
    display: inline-block;
    overflow: visible;
    @extend %height;
    ul{
         @extend %clearfix;
    }
   
}
.bodys-divContain{
    height: 500px;
}
.subul{margin: 0px; padding: 0px; display: none;}
.subdisplay{margin: 0px; padding: 0px; display: block;}
#menues ul li{float: left; width: 100px; list-style: none;  }
/*#menu ul li a:hover{background-color: red;}*/
.hightLight{ background-color:red;  color: white;}
#conTain{
    margin:0 auto;
    width: 700px;
    height: 500px;
}
#obj,#rightShow{
    float: left;
    width: 300px;
    height: 300px;
    border: 1px solid red;
    margin: 5px;
    
}
#leftimg{
    width: 300px;
    height: 300px;
}
#obj{
    position:relative;
}
#drag{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: yellow;
    width: 100px;
    height: 100px;
    opacity: 0.4;
    cursor: move;
}
#rightShow{
    display: none;
    overflow: hidden;
}
#rightShow img{
    width: 900px;
    height: 900px;
}
.outeres{
    width: 980px;
    height: 313px;
    overflow: hidden;
    margin: 100px 0;
}
#inneres{
    width:7200px;
    height: 313px;
}
#inneres img{
    float: left;
    width: 1200px;
}
.toptitlediv{
    width:300px;
    overflow:hidden;
    margin: 0 auto;
    padding-left: 20px;
}
.toptitlediv-head1{
    width: 30%;
    height:100%;
    border: 2px solid silver;
    float: left;
    background-color: white;
    border-radius: 5px 5px 0 0;
    text-align: center;
    line-height:30px;
    
}
.toptitlediv div:first-child{
    border-bottom: 2px solid white;
}
.bodys-div{
    width: 300px;
    height: 50px;
    border-top: 2px solid silver;
    margin: 0 auto; 
     margin-top: -2px;
}
.displaynone{
    display: none;
}
.conTaines{
    width: 600px;
    height:auto;
    border: 1px solid silver;
    height: 500px;
}
.head{
    width: 80%;
    height: 200px;
    margin: 0 auto;
}
.head textarea{
    width: 98%;
    height:160px;
    display: block!important;
}
.head input{
    float: right;
}
.fabuxinxi{
    width: 80%;
    height: 80px;
    margin: 0 auto;
    border: 1px solid silver;
}
.fabuxinxi span{
    float:right;
}
.textAndimg{
    height: 70%;
    
}
.textAndimg span{
    float: none;
}
.textAndimg img{
    width: 15%;
    height:100%;
    vertical-align: middle;
}
.delete:hover{
    text-decoration: underline;
    color: red;
}
#wRapes{
    position: relative;
    width: 800px;
    height: 500px;
    border: 3px solid red;
    margin: 20px auto;
}
#dRapes{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 200px;
    height: 200px;
    background-color: blue;
}
.main{
    width: 950px;
    height:500px;
    margin: 20px auto;
    position:relative;
}
.ball{
    width: 50px;
    height: 50px;
    background-color: red;
    position: absolute;
    border-radius: 25px;
}
.jsXuanZhuan{
            position: relative;
            width:100%;
            height:500px;
            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
                -webkit-transform: translateZ(-2000px);
                transform: translateZ(-2000px);
        }
        
        .jsXuanZhuan div{
            width:400px;
            height:400px;
            position:absolute;
            -webkit-box-reflect:below 5px  -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.6, transparent), to(white));
            -webkit-transition:all 1s linear;
            transition:all 1s linear;
            background-size: 400px 300px;
            right: 0;
            left: 0;
            top: 0;
            bottom: 0;
            opacity:0.9;

        }
        .div1{
            background-image: url('../img/ls10.jpeg');
            -webkit-transform: rotateY(   0deg ) translateZ(360px);
            transform: rotateY(   0deg ) translateZ(360px);
        }
        .jsXuanZhuan div:nth-child(2) {
            background-image: url('../img/ls11.jpg');
         -webkit-transform: rotateY(  60deg ) translateZ(360px); 
         transform: rotateY(  60deg ) translateZ(360px); 
        }
        .jsXuanZhuan div:nth-child(3) { 
            background-image: url('../img/ls12.jpg');
            -webkit-transform: rotateY(  120deg ) translateZ(360px); 
            transform: rotateY(  120deg ) translateZ(360px); 
        }
        .jsXuanZhuan div:nth-child(4) {
            background-image: url('../img/ls13.jpg');
         -webkit-transform: rotateY( 180deg ) translateZ(360px); 
         transform: rotateY( 180deg ) translateZ(360px); 
        }
        .jsXuanZhuan div:nth-child(5) {
            background-image: url('../img/ls14.jpg');
         -webkit-transform: rotateY( 240deg ) translateZ(360px);
         transform: rotateY( 240deg ) translateZ(360px);
         }
        .jsXuanZhuan div:nth-child(6) {
            background-image: url('../img/ls15.jpg');
         -webkit-transform: rotateY( 300deg ) translateZ(360px); 
         transform: rotateY( 300deg ) translateZ(360px); 
        }
        .jsXuanZhuan div img{
            width: 100%;
            height: 100%;
            opacity: 0.9;
        }
        .jsXuanZhuan div img:hover{
            opacity: 1;
        }
        #jsXuanZhuanMuMa{
             -webkit-perspective: 2000px;
            perspective: 2000px;
            input{
                margin: 0 10px; 
            }
        }