@import url(base.css);
.blog-logo, .menu li, .huiDingbu:before { float: left; }

.headerContain:before, .menu:before, #menues ul:before, .headerContain:after, .menu:after, #menues ul:after { content: ""; display: table; }
.headerContain:after, .menu:after, #menues ul:after { clear: both; }

.huiDingbu:before { content: ""; height: 0; width: 0; overflow: hidden; }

body { max-width: 1920px; margin: 0 auto; min-width: 670px; background: url("../img/1H03633L-3.jpg") no-repeat; background-attachment: fixed; }

.lacaTion { margin: 0; background-color: white; }

a:visited { color: blue; }

a:active { color: red; }

textarea { background-color: #EDEDED; display: none; }

.danQianweizhi { display: inline-block; padding-left: 40px; position: absolute; right: 0; bottom: 0; }
.danQianweizhi a { color: silver; padding: 0 10px; }

.xiaoGuotu { border: 1px solid #48AE15; margin: 20px 10px; border-radius: 10px; position: relative; text-align: center; }
.xiaoGuotu p { padding: 10px; font-size: 20; border-bottom: 1px solid silver; margin: 10px; text-indent: 0; }

.jsMenues { text-align: center; overflow: hidden; }
.jsMenues h2 { font-size: 2em; font-weight: bold; color: #48AE15; margin: 10px; }
.jsMenues p { font-size: 20px; text-indent: 2em; text-align: left; }

.weiZhi { margin-top: 80px; position: relative; border-bottom: 1px solid #48AE15; }
.weiZhi div { width: 250px; padding: 30px 0 10px 0; color: white; color: #1a8a00 \9; text-shadow: -4px -4px 10px #1a8a00,4px -4px 10px #1a8a00, 4px 4px 10px #1a8a00,-4px 4px 10px #1a8a00; font-size: 3em; font-weight: bold; }

.divClasses, .lacaTion, .headerContain { max-width: 1000px; margin: 0 auto; }

.header { width: 100%; min-width: 585px; position: fixed; top: 0; margin: auto; background-color: white; z-index: 99; }

.headerContain { height: 80px; margin: 0 auto; min-width: 670px; }

.blog-logo { width: 350px; height: 80px; background: url("../img/logo.png") no-repeat; }

.blog-picture { margin-top: 80px; height: 250px; *margin: 0; *padding-top: 80px; *height: 215px; background: url("../img/xc-bg.jpg") no-repeat top center; }

.menu { float: right; margin-top: 30px; margin-right: 10px; }
.menu li { background-color: #48AE15; -webkit-transform: skewX(25deg); transform: skewX(25deg); position: relative; text-align: center; }
.menu li:hover { background-color: #1a8a00; }
.menu li a { display: block; padding: 10px 30px; line-height: 20px; -webkit-transform: skewX(-25deg); transform: skewX(-25deg); color: white; }
.menu li a span { display: block; -webkit-transform: skewX(-25deg); transform: skewX(-25deg); }
.menu .drop-menu { width: 100%; position: absolute; visibility: hidden; }

.menuChild { background-color: #48AE15; position: relative; left: 0; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; }
.menuChild a { background-color: #48AE15; transform: skewX(0deg) !important; }
.menuChild a:hover { background-color: #1a8a00; }

.menuChildaddclass { left: -20px; }

.menuChildaddclass1 { left: 20px; }

#menu .innerMenu { position: absolute; top: 0px; left: -360px; visibility: hidden; overflow: hidden; width: 0px; height: 0px; -webkit-transition: all 0.4s linear; transition: all 0.4s linear; }
#menu .innerMenu div { width: 360px; }
#menu .innerMenu a { padding: 0; width: 120px; height: 40px; line-height: 40px; display: inline-block; vertical-align: top; }

.menuChildaddclass2 { visibility: visible !important; width: 360px !important; height: 160px !important; z-index: 999; }

@media screen and (max-width: 992px) { .bodyRight { width: 100%; }
  .zuiXintuijian li { width: 100%; }
  .blog-bodys { max-width: 874px; width: 100%; margin: 0 auto; background: url("../img/bodys1.png") no-repeat; padding-top: 80px; }
  .wenZhangtuijian { width: 100%; }
  .wenZhangtuijian li { position: relative; } }
.huiDingbu { width: 50px; height: 50px; border-radius: 25px; background-color: #48AE15; position: fixed; top: 800px; right: 0; cursor: pointer; z-index: 999; text-align: center; color: white; opacity: 0.7; display: none; }
.huiDingbu:before { border-bottom: 10px solid white; border-left: 10px dashed transparent; border-right: 10px dashed transparent; margin: 10px 15px 0 15px; }

@media screen and (max-width: 955px) { #menu { margin-top: 0; float: none; margin: 0 auto; width: 575px; height: 40px; }
  .blog-logo { float: none; margin: 0 auto; } }
@-webkit-keyframes conver { 0% { transform: translateX(-200px) rotateZ(0deg); }
  100% { opacity: 1; transform: translateX(0px) rotateZ(360deg); } }
@keyframes conver { 0% { transform: translateX(-200px) rotateZ(0deg); }
  100% { opacity: 1; transform: translateX(0px) rotateZ(360deg); } }
@-webkit-keyframes conver1 { 0% { transform: translateX(200px) rotateZ(0deg); }
  100% { opacity: 1; transform: translateX(0px) rotateZ(-360deg); } }
@keyframes conver1 { 0% { transform: translateX(200px) rotateZ(0deg); }
  100% { opacity: 1; transform: translateX(0px) rotateZ(-360deg); } }
@-webkit-keyframes conver2 { 0% { opacity: 0; }
  100% { opacity: 1; } }
@keyframes conver2 { 0% { opacity: 0; }
  100% { opacity: 1; } }
.headerXiaola { width: 100%; height: 10px; background-color: white; position: fixed; top: 0; z-index: 98; text-align: center; color: #8C8C8C; }

#menues { height: 300px; }

#menues { display: inline-block; overflow: visible; }

.bodys-divContain { height: 500px; }

.subul { margin: 0px; padding: 0px; display: none; }

.subdisplay { margin: 0px; padding: 0px; display: block; }

#menues ul li { float: left; width: 100px; list-style: none; }

/*#menu ul li a:hover{background-color: red;}*/
.hightLight { background-color: red; color: white; }

#conTain { margin: 0 auto; width: 700px; height: 500px; }

#obj, #rightShow { float: left; width: 300px; height: 300px; border: 1px solid red; margin: 5px; }

#leftimg { width: 300px; height: 300px; }

#obj { position: relative; }

#drag { display: none; position: absolute; top: 0; left: 0; background: yellow; width: 100px; height: 100px; opacity: 0.4; cursor: move; }

#rightShow { display: none; overflow: hidden; }

#rightShow img { width: 900px; height: 900px; }

.outeres { width: 980px; height: 313px; overflow: hidden; margin: 100px 0; }

#inneres { width: 7200px; height: 313px; }

#inneres img { float: left; width: 1200px; }

.toptitlediv { width: 300px; overflow: hidden; margin: 0 auto; padding-left: 20px; }

.toptitlediv-head1 { width: 30%; height: 100%; border: 2px solid silver; float: left; background-color: white; border-radius: 5px 5px 0 0; text-align: center; line-height: 30px; }

.toptitlediv div:first-child { border-bottom: 2px solid white; }

.bodys-div { width: 300px; height: 50px; border-top: 2px solid silver; margin: 0 auto; margin-top: -2px; }

.displaynone { display: none; }

.conTaines { width: 600px; height: auto; border: 1px solid silver; height: 500px; }

.head { width: 80%; height: 200px; margin: 0 auto; }

.head textarea { width: 98%; height: 160px; display: block !important; }

.head input { float: right; }

.fabuxinxi { width: 80%; height: 80px; margin: 0 auto; border: 1px solid silver; }

.fabuxinxi span { float: right; }

.textAndimg { height: 70%; }

.textAndimg span { float: none; }

.textAndimg img { width: 15%; height: 100%; vertical-align: middle; }

.delete:hover { text-decoration: underline; color: red; }

#wRapes { position: relative; width: 800px; height: 500px; border: 3px solid red; margin: 20px auto; }

#dRapes { position: absolute; top: 20px; left: 20px; width: 200px; height: 200px; background-color: blue; }

.main { width: 950px; height: 500px; margin: 20px auto; position: relative; }

.ball { width: 50px; height: 50px; background-color: red; position: absolute; border-radius: 25px; }

/*# sourceMappingURL=javaScript.css.map */
