@import "d:/sassCore/_function.scss";
@mixin font-dpr($font-size){
    font-size: $font-size/2;

    [data-dpr="2"] & {
        font-size: $font-size ;
    }

    [data-dpr="3"] & {
        font-size: 3*$font-size /2;
    }
}
a:active{
    text-decoration: none;
}
header{
	width:100%;
    height: 0.533333rem;
	@include font-dpr(32px);
	padding: 0.426667rem 0;
	position: fixed;
	top: 0;
	left: 0;
	background-color:rgba(0,93,174,0);
	z-index: 100;
	-webkit-transform: translateZ(0);
	a{
		@extend %floatRight;
		color: #4d4d4d;
		background: url(../img/css_sprite.png) no-repeat;
		background-size: 4.0rem 4.0rem;
		margin-right: 0.426667rem;
	}
}
#search{
	width: 0.506667rem;
	height:0.533333rem;

}
#mulu{
	width:0.56rem;
	height:0.533333rem;
	background-position: -0.946667rem 0px ;
}

#toutiao{
	@extend %float;
	background:none;
	margin: 0;
	margin-left: 0.426667rem;
}
#mayi_body{
	margin-top: 1.386667rem;
	background-color: #f1f6f8;
	padding-bottom: 1.44rem;
}
#geren_xinxi{
	text-align: center;
	background-color:white;
	@include font-dpr(30px);
	overflow: hidden;
	h2{
		margin:0.293333rem 0 0.4rem 0;
	}
	p a{
		display:inline-block;
		color:#8a9ba1;
		margin-left:0.266667rem;
		@include font-dpr(24px);
	}
	span{
		margin:0 0.106667rem;
	}
	.zouyouming{
		color:#8a9ba1;
		margin:0.533333rem 0;
	}
}
#character{
	display: block;
	width:0.853333rem;
	height:0.853333rem;
	border-radius: 50%;
	margin:0 auto;
	background:url(../img/-camera.jpg);
	@include background-size(contain)
}
#dajiataolun{
	margin-top:0.24rem;
	padding:0.466667rem 0.266667rem;
	background-color:white;
	@extend %clearfix;
	h2{
		@include font-dpr(30px);
		color:#141414;
		margin-bottom: 0.666667rem;
		font-weight:bold;
	}
	.taolun_pic{
		@extend %float;
		position:relative;
		text-align:center;
		margin-right:0.146667rem;
		height:2.52rem;
		a{
			position:absolute;
			display:block;
			width:3.093333rem;
			img{
				height:2.52rem;
			}

		}
		p{
			position:relative;
			z-index: 1;
			width:2.4rem;
			margin:0.466667rem 0.32rem ;
			color:white;
			font-weight: bold;
		}
		span{
			position:absolute;
			z-index: 1;
			color:white;
			left:0.56rem;
			bottom: 0.32rem;
		}
	}
	
}
#hot_topic{
	display:block;
	@extend %floatRight;
	background-color:#ff6e4b;
	width:3.093333rem;
	height:2.52rem;
	@include font-dpr(28px);
	color:white;
	text-align:center;
	line-height:2.52rem;
}
#licai_contain{
	clear:both;
	.licai_nav{
		display:block;
		@extend %float;
		width:25%;
		text-align:center;
		span{
			@include font-dpr(24px);
		}
	}
	h2{
		font-weight:400;
		@include font-dpr(28px);
		margin:0.533333rem 0 0.4rem 0;

	}
}
#active_discover{
	margin-top:0.266667rem;
	@extend %clearfix;
	
	h2{
		line-height:0.973333rem;
		border-bottom: 1px solid #f6f9fa;
		@include font-dpr(24px);
		color:#92a2a7;
		padding-left: 0.426667rem;
	}
	li{
		padding: 0 0.266667rem 0.666667rem 0;
		background-color:white;
	}
}
#ad_tab{
	@extend %clearfix;
	background-color:white;
	a{
		@extend %float;
		width:50%;
		height:1.24rem;
		border-bottom:1px solid #eaeaea;
		text-align:center;
		line-height:1.24rem;
		@include font-dpr(30px)
	}

}
.active{
	height:1.24rem-0.08rem!important;
	border-bottom:0.093333rem solid #0c77d3!important;
	color:#005dcb;

}
.dongtai_person{
	display:block;
	padding:0.426667rem 0.88rem 0 1.066667rem;
	position:relative;
	@extend %clearfix;
	p{
		@extend %float;
		@include font-dpr(28px);
		color:#3c3c3c;
		font-weight:700;
		line-height:0.613333rem;
		padding-right:0.6rem;
		position:relative;
		&:before{
			display:block;
			content:"";
			width:0.466667rem;
			height:0.466667rem;
			position:absolute;
			top:0;
			right:0;
			bottom:0;
			margin:auto;
			background:url("../img/css_sprite.png") no-repeat 0 -1.48rem;
			background-size: 4.0rem 4.0rem;
		}
		

	}
	.time_before{
		@include font-dpr(24px);
		color:#a0afb3;
		line-height:0.56rem;
		@extend %float;
		clear:both;
	}
	.guanzhu{
		display:block;
		width:1.626667rem;
		height:0.693333rem;
		position:absolute;
		right: 0.866667rem;
		top:0.426667rem;
		text-align:center;
		line-height:0.746667rem;
		border: 2px solid #0272d1;
		border-radius:5px;
		color:#0272d1;
	}
	.char_picture{
		position:absolute;
		left:0.266667rem;
		top:0;
		bottom:0;
		margin:auto;
		display:block;
		content: "";
		width:0.68rem;
		height:0.68rem;
		border-radius:50%;
		border:1px solid #dde2e4;
		background:url("../img/-camera.jpg") no-repeat;
		background-size:contain;
	}
	i{
			    display: block;
			    width: 0.333333rem;
			    height:0.173333rem;
			    position: absolute;
			    top: 0;
			    right: 0.133333rem;
			    bottom: 0;
			    margin: auto;
			    background: url("../img/css_sprite.png") no-repeat 0 -2.626667rem;
			    background-size: 4.0rem 4.0rem;
		}

}
#instruction{
	display:inline-block;
	padding-left:1.2rem;
	h3{
		width:6.4rem;
		@include font-dpr(34px);
		line-height:0.853333rem;
		color:#212121;
		font-weight:bold;
	}
	p{
		@include font-dpr(30px);
		line-height:0.613333rem;
		letter-spacing: 2px;
		color:#1b1b1b;
		margin: 0.333333rem 0 0.533333rem 0;
	}
	.more_zan{
		display:inline-block;
		width:0.773333rem;
		height:0.48rem;
		margin-right:0.533333rem;
		@include font-dpr(28px);
		color:#93a3a9;
		padding-left:0.56rem;
		background:url("../img/css_sprite.png") no-repeat -3.64rem 0.066667rem;
		background-size: 4.0rem 4.0rem;
	}
	.more_zan1{
		background-position: -3.64rem -0.6rem;
	}
}

.dongtai_img{
	display:block;
	width: 1.733333rem;
	height:1.826667rem;
	@extend %floatRight;
	padding-left: 0.413333rem;
	img{
		display:block;
		height:100%;
	}
}
footer{
	width:100%;
	position:fixed;
	left:0;
	bottom:0;
	border-top: 1px solid #e7e7e7;
	background-color:white;
	font-size:0;
	-webkit-transform: translateZ(0);
	a{
		text-align:center;
		@include font-dpr(22px);
		display:inline-block;
		width:25%;
		color:#a7a7a7;
	}
	.little_pic{
		display:block;
		width:0.693333rem;
		height:0.693333rem;
		margin:0.146667rem auto;
		background:url("../img/css_sprite.png") no-repeat -2px -3.306667rem ;
		background-size: 4.0rem 4.0rem;
	}
	a:nth-child(2) .little_pic{
		background-position: -1.186667rem -3.306667rem;
	}
	a:nth-child(3) .little_pic{
		background-position: -2.213333rem -3.306667rem;
	}
	a:nth-child(4) .little_pic{
		background-position: -3.28rem -3.306667rem;
	}
}
%before_after{
	display:block;
			content:"";
			width:1.173333rem;
			height:1.146667rem;
			position:absolute;
			top: 0;
			bottom:0;
			margin:auto;
			background:url("../img/css_sprite.png") no-repeat ;
			background-size:4.0rem 4.0rem;
}
#pay_friend{
	margin-bottom:0.133333rem;
	background-color:white;
	a{
		padding:0.133333rem 1.333333rem 0.333333rem 1.8rem;
		position:relative;
		display:block;
		&:before{
			@extend %before_after;
			left:0.4rem;
			background-position:-2.893333rem -1.506667rem;
		}
		&:after{
			@extend %before_after;
			right:0;
			background-position:-1.626667rem -1.38rem;
		}
	}
	p{
		@include font-dpr(30px);
	}
	h2{
		padding:0;
		line-height:0.56rem;
		@include font-dpr(24px);
		border:none;
	}
	span{
		display:block;
		position:absolute;
		top: 0;
		bottom:0;
		right:1.333333rem;
		margin: auto;
		width:1.106667rem;
		height:0.493333rem;
		line-height:0.493333rem;
		border-radius:0.2rem;
		background-color:#f4333c;
		color:white;
		text-align:center;
		@include font-dpr(20px);
	}
}
#discover{
	h2{
		@include font-dpr(24px);
	}
	.guanzhu_zhan{
		@include font-dpr(28px);
		@extend %float;
		clear:both;
	}
	.dongtai_person{
		
		padding-left:1.4rem;
		padding-top:0.533333rem;
		height:2.573333rem;
		border-bottom:1px solid #f6f9fb;
		
	}
	.guanzhu{
		right: 0.133333rem;
		top:0.706667rem;
	}
	li{
		margin-top:0.133333rem;
	}
	.time_before{
		line-height:0.666667rem;
	}
	.char_picture{
		top:0.8rem;
		left:0.4rem;
		margin:0;
	}
	
}
%guandian{
	width:1.466667rem;
	height:1.466667rem;
	border:0.066667rem;
	border-radius:50%;
	display:block;
	@include font-dpr(35px);
	line-height:1.466667rem;
	text-align:center;
	color:white;
	@include transition(bottom 0.2s linear);
	position:absolute;
}
#contain{
	@extend %guandian;
	position:fixed;
	right:0.586667rem;
	bottom:2.053333rem;
	z-index:5;
}
#guandian_wenti{
	@extend %guandian;
	z-index:10;
	background:url("../img/wenti.jpg") no-repeat;
	background-size: 100% 100%;
	// &:hover{
	// 	
	// }
	// &:hover~#wenti{
	// 	
	// }
	// &:hover~#guandian{
	// 	bottom:4.173333rem;
	// 	z-index:8;
	// }
}
.guandian_wenti{
	background:url("../img/erro.jpg") no-repeat !important;
	background-size: 100% 100% !important;
}
.guandian{
	bottom:4.173333rem !important;
	z-index:8;
}
.wenti{
	bottom:2.08rem !important;
	z-index:8;
}
#wenti{
		@extend %guandian;
		z-index:8;
		background-color:#0c77d3;
		bottom:0;
}
#guandian{
		@extend %guandian;
		z-index:8;
		background-color:#f35833;
		bottom:0;

}
.ad_addclass{
	width:100%!important;
	position:fixed !important;
	top:1.386667rem !important;
	background-color:white !important;
	z-index:10 !important;
	-webkit-transform: translateZ(0);
}