@import "../base.css";
@import "g:/sassCore/_function.scss";
%divWidthAuto{
    width: 1200px;
    margin: 0 auto;
}
%transitionclass{
    @include transition(all 0.2s linear);
}
#familyLunbo{
    background-color: #ff7070;
}
.familyLunboInner{
    @extend %divWidthAuto;
    @extend %clearfix;
}
.lunboPicture{
    width: 956px;
    height: 480px;
    @extend %float;
    overflow: hidden;
    position: relative;
    
    &:hover #preAndNext{
               opacity: 1;
            }
}
#lunbo_inner{
    position: absolute;
    width: 956px*5;
    height: 480px;
    font-size: 0;
    img{
        font-size: 12px;
        width: 956px;
        height: 480px;
        display: inline-block;
    }
}
.lunboBtn{
    position: absolute;
    right: 15px;
    bottom: 25px;
   
    a{
        width: 6px;
        height: 6px;
        margin-right: 10px;
        display: inline-block;
        border:2px solid #fff;
        border-radius: 10px;
        border-color:rgba(255,255,255,0.3);
        background-color:#000;
        opacity: 0.4;
        filter: alpha(opacity=40);
    }
}
%neiRongclass{
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    *margin-top: 175px;
    width: 20px;
    height: 24px;
    padding: 12px 0;
    font-size:25px;
    background-color: #b0b0b0;
    background-color:rgba(66,66,66,0.2);
    color: white;
    line-height: 24px;
    @include transition(all 0.2s linear);
    &:hover{
        background-color: rgba(66,66,66,0.6);
    }
   
}
#preAndNext{
    opacity: 0;
    @extend %transitionclass;
}
#pre_btn{
    @extend %neiRongclass;
    left: 0;
}
#next_btn{
    @extend %neiRongclass;
    right: 0;
}
.lunboBtnaddclass{
    background-color: #fff!important;
    opacity: 0.4;
        filter: alpha(opacity=40);
      border-color: rgba(0,0,0,0.4)!important;
}
.lunboRight{
    @extend %floatRight;
    a{
        display: block;
    }
    li{
        width: 244px;
        height:240px;
        overflow: hidden;
    }
}
#familyBody{
    overflow: hidden;
    background-color:#f5f5f5;
   padding-bottom:38px;
}
.familyBodyInner{
    @extend %divWidthAuto;
    overflow: hidden;
}
.familyBodyInner{
    ul{
        margin-top: 20px;
        @extend %clearfix;
    }
    li{
        float: left;
        width: 268px;
    }
    a{
        width: 100%;
        display: block;
    }
    .bodyliFirst{
        width: 186px*5;
        a{
            @extend %float;
           height: 98px;
            width: 184px;
            margin-left: 2px;
            margin-top: 2px;
        }
    }
}
.jiCaiShengHuo{
    width: 100%;
    height: 401px;
    background:url("../../img/lifepicture (5).jpg") no-repeat 0px 0px;
    h3{
        font-size: 24px;
        font-weight: bold;
        color: #f29604;
        margin: 28px 0 12px 35px;
    }
    p{
        color: #e1a84a;
        font-size: 18px;
        margin-left: 35px;
    }
}
.pingPai{
    display: block;
    width: 140px;
    height: 153px;
    margin-top: 40px;
    margin-left: 64px;
    position: relative;
    background: url("../../img/lifepicture (1).png") no-repeat 0px -347px;
    a{
        display:block;
        position: absolute;
        bottom: -6px;
        left: 0;
        right: 0;
        margin:auto;
        color: #ffa130;
        text-align: center;
        
    }
}

.ShengHuoShiPing{
    @extend .jiCaiShengHuo;
    background:url("../../img/lifepicture (1).jpg") no-repeat 0px 0px;
    h3{
        color: #2aad49;
    }
    p{
        color: #79bb88;
    }
    ul{
        @extend %list-ul;
    }
    li{
         @extend %list-li;
        a{
            @extend %list-a;
            &:hover{
                background-color: #5ed67a;
                color: white;
            }
        }
    }
}
%list-ul{
    width: 78px*3;
    margin-top: 35px;
    @extend %clearfix;
    margin-left: 18px;
}
%list-a{
    width: 100%;
    display: inline-block;
    border-radius: 15px;
    text-align: center;
    color: #171717;
            
}
%list-li{
    width: 78px;
        @extend %float;
        line-height: 30px;
}
.ShengHuoYongPing{
    @extend .jiCaiShengHuo;
    background:url("../../img/lifepicture (6).jpg") no-repeat 0px 0px;
    h3{
        color: #2ba6de;
    }
    p{
        color: #82c6e5;
    }
    ul{
        @extend %list-ul;
    }
    li{
         @extend %list-li;
        a{
            @extend %list-a;
            &:hover{
                background-color: #69bbe5;
                color: white;
            }
        }
    }
}
.ShengHuoJiaJu{
    @extend .jiCaiShengHuo;
    background:url("../../img/lifepicture (7).jpg") no-repeat 0px 0px;
    h3{
        color: #f65b86;
    }
    p{
        color: #ed91ab;
    }
    ul{
        @extend %list-ul;
    }
    li{
         @extend %list-li;
        a{
            @extend %list-a;
            &:hover{
                background-color: #f65b86;
                color: white;
            }
        }
    }
}
.teMaiSals{
    li{
        width: 590px;
        margin-right: 20px;
        margin-bottom: 20px;
        -webkit-box-shadow: 1px 1px 1px  1px rgba(0,0,0,0.2);
        -moz-box-shadow: 1px 1px 1px  1px rgba(0,0,0,0.2);
        box-shadow:1px 1px 1px  1px rgba(0,0,0,0.2);
    }
    li:nth-child(2n){
        
        margin-right: 0;
    }
}
h2{
    font-size: 24px;
    line-height: 52px;
    padding-left: 12px;
    background-color: white;
    a{
        color: #0d0d0d;
    }
}
.teMaititle{
    position:relative;
    &:before{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        display: block;
        content: "";
        width:486px;
        height: 1px;
        background-color:#dbdbdb;
        
    }
    &:after{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        display: block;
        content: "";
        width:486px;
        height: 1px;
        background-color:#dbdbdb;
    }
    text-align: center;
    margin-top: 24px;
    font-size: 20px;
    margin-bottom: 8px;
}
