@import url(base.css);
#bt_left, #foodContain li {
  float: left;
  display: inline; }

#beatifulBody, #foodContain {
  *zoom: 1; }
  #beatifulBody:before, #foodContain:before, #beatifulBody:after, #foodContain:after {
    content: "";
    display: table; }
  #beatifulBody:after, #foodContain:after {
    clear: both; }

#life_contain, .food_selecter .food_next_pre, #foodContain p span {
  float: right; }

#beatifulBody {
  width: 1200px;
  margin: 0 auto; }

#familyAndContain {
  background-color: #f5f5f5; }

#beatifulBody {
  padding-top: 32px; }

#bt_left {
  width: 170px; }
  #bt_left a {
    display: block;
    line-height: 39px;
    color: #656565; }
  #bt_left li {
    border: 1px solid #e6e6e6;
    border-top: none;
    padding-left: 32px;
    background-color: white; }
  #bt_left .speilli {
    background-color: #ffa130;
    border: none;
    border-bottom: 1px solid #e6e6e6; }
    #bt_left .speilli a {
      color: white; }

#select-list {
  text-align: center;
  word-spacing: -3px; }
  #select-list a {
    display: inline-block;
    width: 28px;
    border: 1px solid #cccccc;
    line-height: 28px;
    word-spacing: 0px;
    margin-left: 28px;
    color: #1a1a1a; }

#select-list {
  width: 720px;
  margin: 20px auto 50px;
  clear: both; }

.active-a {
  background-color: #fb7803;
  color: white !important; }

#life_contain {
  width: 1004px; }

.food_selecter .food_next_pre a:before, .food_top, .food_bottom {
  font-size: 14px;
  display: inline-block;
  border: 6px solid transparent; }

.food_selecter {
  color: #383838;
  border: 1px solid #e6e6e6;
  font-size: 0;
  background-color: white; }
  .food_selecter span {
    line-height: 35px;
    font-size: 14px;
    width: 55px;
    text-align: center;
    display: inline-block;
    position: relative;
    border-right: 1px solid #e6e6e6;
    padding-right: 25px; }
  .food_selecter .food_next_pre {
    font-size: 14px;
    padding: 0;
    width: 178px; }
    .food_selecter .food_next_pre span {
      border: none;
      padding: 0;
      vertical-align: middle; }
    .food_selecter .food_next_pre a {
      display: inline-block;
      width: 18px;
      height: 15px;
      background-color: #f7f7f7;
      border: 1px solid #e6e6e6;
      vertical-align: middle; }
      .food_selecter .food_next_pre a:before {
        display: block;
        content: "";
        position: relative; }
    .food_selecter .food_next_pre .food_pre:before {
      border-right-color: #999999;
      top: 1px;
      left: -6px; }
    .food_selecter .food_next_pre .food_next:before {
      border-left-color: #999999;
      top: 1px;
      right: -6px; }
  .food_selecter .active_span {
    color: #ffaf5b; }

.food_top {
  position: absolute;
  top: 3px;
  right: 15px;
  border-bottom-color: #999999; }

.food_bottom {
  position: absolute;
  bottom: 3px;
  right: 15px;
  border-top-color: #999999; }

.active_food {
  border-top: 2px solid #ffa130 !important; }

#foodContain {
  font-size: 14px;
  margin-top: 8px;
  border: 1px solid #E6E6E6; }
  #foodContain li {
    background-color: white;
    padding: 24px 29.8px 16px;
    margin-right: 1px;
    margin-bottom: 1px; }
  #foodContain a {
    display: block;
    width: 190px;
    height: 190px;
    font-size: 12px; }
  #foodContain .addShoppingCar {
    width: 76px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #E6E6E6;
    text-align: center;
    padding-left: 22px;
    margin: 19px auto 0;
    background: url("../img/lifepicture (1).png") no-repeat -283px -177px; }
  #foodContain h2 {
    margin: 16px auto 11px;
    color: #4d4d4d; }
  #foodContain p {
    color: #ed601b; }
    #foodContain p span {
      text-decoration: line-through;
      color: #999999;
      margin-right: 20px; }

/*# sourceMappingURL=lifeFood.css.map */
