<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<script src="build/flexible_css.debug.js"></script>
	    <script src="build/flexible.debug.js"></script>
	    <script type="text/javascript" src="js/vue.js" ></script>
	    <script type="text/javascript" src="js/EventUtilObject.js" ></script>
		<link rel="stylesheet" type="text/css" href="css/index.css"/>
		<link rel="stylesheet" type="text/css" href="css/base.css"/>
		<script type="text/javascript" src="js/jquery-1.8.3.js" ></script>
		<script type="text/javascript" src="js/mayiindex.js" ></script>
	</head>
	<body>
		<header><a id="toutiao" href="javascript:void(0)">头条</a>  <a id="mulu" href="javascript:void(0)"></a><a id="search" href="javascript:void(0)"></a><span id="shequ">社区</span></header>
		<div id="mayi_body">
			<div id="geren_xinxi">
				<a id="character" href="javascript:void(0);"></a>
				<h2 v-text="user.character.userName"></h2>
				<p><a href="javascript:void(0)">关注<span id="guanzhu" v-text="user.character.guanZhu"></span></a><a href="javascript:void(0)">粉丝<span id="fensi" v-text="user.character.fenShi"></span></a>
				</p>
				<p class="zouyouming" v-text="user.character.qianMing"></p>
			</div>
			<div id="dajiataolun">
				<h2>大家在讨论 <a href="javascript:void(0)">我去过的</a></h2>
				<span class="taolun_pic" href="javascript:void(0)">
					<a href="javascript:void(0);"><img src="img/dajiaotaolun(1).jpg" alt="" /></a>
					<p v-text="user.dajiataolu[0].shuoMing"></p>
					<span v-text="user.dajiataolu[0].name"></span>
				</span>
				<span class="taolun_pic" href="javascript:void(0)">
					<a href="javascript:viod(0)"><img src="img/dajiaotaolun(2).jpg" alt="" /></a>
					<p v-text="user.dajiataolu[1].shuoMing"></p>
					<span v-text="user.dajiataolu[1].name"></span>
				</span>
				<a id="hot_topic" href="javascript:void(0);" >热门话题</a>
				<div  id="licai_contain">
					<a v-for="item in user.taolunrenshu" class="licai_nav" href="javascript:void(0)">
						<h2 v-text="item.name"></h2>
						<span v-text="item.personNum"></span>
					</a>
				</div>
			</div>
			<div id="active_discover">
				<div id="ad_tab">
					<a v-on:click="tab(0)" :class="{'active':activeFlag}" href="javascript:void(0);">动态</a>
					<a v-on:click="tab(1)" :class="{'active':discoverFlag}" href="javascript:void(0);">发现</a>
				</div>
				<ul v-show="activeFlag">
					<li v-for="item in user.dongtai">
						<h2 v-text="item.activeType"></h2>
						<a class="dongtai_person" href="###">
							<img class="char_picture" src="img/-camera.jpg"/>
							<p>{{item.name}}<span v-show="item.show_flag" class="p_before"></span></p>
							<span class="time_before" v-text="item.time"></span>
							<span class="guanzhu">关注</span>
							<i></i>
						</a>
						<span id="instruction">
							<a  v-show="item.imgFlag" class="dongtai_img" href="###"><img  src="img/dajiaotaolun(1).jpg" alt="" /><span v-text="item.imgCont"></span></a>
							<h3 class="dongtai_title" v-text="item.title"></h3>
							<p v-text="item.jieshao"></p>
							<a class="more_zan more_zan1" href="javascript:void(0)" v-text="item.xiaoxi"></a>
							<a class="more_zan" href="javascript:void(0)" v-text="item.dianzan"></a>
						</span>
					</li>
				</ul>
				<div v-show="discoverFlag" id="pay_friend">
					<a href="javascript:void(0);">
						<p>支付宝好友</p>
						<h2>来看看哪些好友来聚宝了</h2>
						<span>找好友</span>
					</a>
				</div>
				<ul v-show="discoverFlag" id="discover">
					<li v-for="item in user.discover">
						<h2>{{item.title}}</h2>
						<a v-for="per in item.person" class="dongtai_person" href="###">
							<img class="char_picture" src="img/-camera.jpg"/>
							<p>{{per.name}}<span v-show="per.show_flag" class="p_before"></span></p>
							<span class="time_before" v-text="per.jieshan"></span>
							<span class="guanzhu_zhan" v-text="per.zan_guanzhu"></span>
							<span class="guanzhu">关注</span>
						</a>
					</li>
				</ul>

			</div>
			<div id="zannoContain">
				暂无更多内容
			</div>
		</div>
		<div id="contain">
			<span id="guandian_wenti">
			</span>
			<span id="wenti">问题</span>
			<span id="guandian">观点</span>
		</div>
		<footer>
			<a href="javascript:void(0)"><span class="little_pic"></span><span>首页</span></a>
			<a href="javascript:void(0)"><span class="little_pic"></span><span>市场</span></a>
			<a href="javascript:void(0)"><span class="little_pic"></span><span>自选</span></a>
			<a class="active_a" href="javascript:void(0)"><span class="little_pic"></span><span>社区</span></a>
		</footer>
	</body>
</html>
