@import url(base.css);
html {
  width: 100%;
  height: 100%; }

body {
  width: 100%;
  height: 100%;
  background: url("../img/bg_picture1.jpg") no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  position: relative; }

#jingdutiao {
  width: 7.34375rem;
  height: 0.578125rem;
  background: url("../img/css_sprite.png") no-repeat;
  -webkit-background-size: 7.8125rem 7.8125rem;
  background-size: 7.8125rem 7.8125rem;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto; }

#red_tiao {
  width: 1.5625rem;
  height: 0.15625rem;
  background-color: #e60012;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0.203125rem;
  margin: auto; }
  #red_tiao span {
    position: absolute;
    display: inline-block;
    top: -0.5625rem;
    bottom: 0;
    right: -0.375rem;
    margin: auto;
    color: white; }
  #red_tiao:before {
    content: "";
    display: block;
    width: 0.296875rem;
    height: 0.328125rem;
    background: url("../img/css_sprite.png") no-repeat 0px -0.71875rem;
    -webkit-background-size: 7.8125rem 7.8125rem;
    background-size: 7.8125rem 7.8125rem;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -0.296875rem;
    margin: auto; }

#big_logo, #gaoerfu_GTI, #big_logo2, #car_audio, .big_logo3, #click_haoli, #first_btn, #second_btn, #third_btn, #first_little_btn, #active_rule, #go_back, #first_word, #second_word, #third_word, #big_car, #dinggou, #zhuan_pan, #start_zhuan, #weizhongjiang, #zhongjiang, .logo_title {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; }

#gaoerfu_GTI, #car_audio, #click_haoli, #first_word, #second_word, #third_word {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s; }

#big_logo {
  top: 4.515625rem;
  width: 8.71875rem;
  height: 2.71875rem;
  background: url("../img/big_button15.png") no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  display: none; }

#gaoerfu_GTI {
  top: 8.59375rem;
  width: 6.34375rem;
  height: 1.5625rem;
  background: url("../img/big_button16.png") no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  display: none; }

#big_logo2 {
  bottom: 8.328125rem;
  width: 6.828125rem;
  height: 6.359375rem;
  background: url("../img/big_button18.png") no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%; }

#car_audio {
  top: 8.078125rem;
  width: 10rem;
  height: 6rem; }

video::-webkit-media-controls {
  display: none !important; }

.car_addclsss {
  -webkit-mask-image: url("../img/big_button17.png");
  -webkit-mask-size: 5.6875rem 5.6875rem;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-image: url("../img/big_button17.png");
  mask-size: 5.6875rem 5.6875rem;
  mask-repeat: no-repeat;
  mask-position: center center; }

li:first-child ~ li {
  display: none; }

#tixing {
  display: inline-block;
  height: 0.546875rem;
  padding-left: 0.625rem;
  background: url("../img/css_sprite.png") no-repeat 0px -1.25rem;
  -webkit-background-size: 7.8125rem 7.8125rem;
  background-size: 7.8125rem 7.8125rem;
  position: absolute;
  left: 0.625rem;
  bottom: 0.53125rem;
  font-size: 9px;
  color: white;
  line-height: 0.546875rem; }
  [data-dpr="2"] #tixing {
    font-size: 18px; }
  [data-dpr="3"] #tixing {
    font-size: 27px; }

.big_logo3 {
  bottom: 12.1875rem;
  width: 4.84375rem;
  height: 2.40625rem;
  background: url("../img/big_button19.png") no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%; }

#click_haoli {
  bottom: 10.125rem;
  width: 7.859375rem;
  height: 1.65625rem;
  background: url("../img/big_button20.png") no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%; }

#first_btn, #second_btn, #third_btn {
  bottom: 4.125rem;
  width: 4.390625rem;
  height: 5.03125rem;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%; }

#first_btn {
  background-image: url("../img/big_button1.png"); }

#first_little_btn {
  bottom: 0.9375rem;
  width: 4.265625rem;
  height: 3.3125rem;
  background: url("../img/big_button2.png") no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  -webkit-animation-delay: 1s;
  animation-delay: 1s; }

#active_rule {
  bottom: 5.78125rem;
  width: 9.9375rem;
  height: 6.734375rem;
  background: url("../img/big_button3.png") no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s; }

.jiangping_pic {
  position: absolute;
  left: 0.65625rem;
  bottom: 3.75rem;
  width: 3.359375rem;
  height: 2.53125rem;
  background: url("../img/big_button25.png") no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s; }

.jiangping_pic:nth-child(4) {
  background-image: url("../img/big_button26.png");
  left: 3.359375rem;
  bottom: 2.421875rem;
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s; }

.jiangping_pic:nth-child(5) {
  background-image: url("../img/big_button27.png");
  left: 6.015625rem;
  -webkit-animation-delay: 1s;
  animation-delay: 1s; }

#first_inner {
  display: none; }

#go_back {
  bottom: 0;
  width: 3.046875rem;
  height: 2.34375rem;
  background: url("../img/big_button21.png") no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  -webkit-animation-delay: 1.1s;
  animation-delay: 1.1s; }

#first_word, #second_word, #third_word {
  bottom: 10.15625rem;
  width: 6.390625rem;
  height: 1.625rem;
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%; }

#first_word {
  background-image: url("../img/big_button4.png"); }

#second_btn {
  background-image: url("../img/big_button5.png"); }

#second_word {
  background-image: url("../img/big_button6.png"); }

#third_btn {
  background-image: url("../img/big_button7.png"); }

#third_word {
  background-image: url("../img/big_button22.png"); }

#big_car {
  width: 9.0625rem;
  height: 6.25rem;
  bottom: 3.75rem;
  background: url("../img/big_button8.png") no-repeat;
  background-size: 100% 100%;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s; }

#dinggou {
  bottom: 0.625rem;
  width: 5.703125rem;
  height: 3.3125rem;
  background: url("../img/big_button9.png") no-repeat;
  background-size: 100% 100%;
  -webkit-animation-delay: 1s;
  animation-delay: 1s; }

#zhuan_pan {
  left: 1.5625rem;
  margin: 0;
  bottom: 4.765625rem;
  width: 6.890625rem;
  height: 6.890625rem;
  background: url("../img/big_button11.png") no-repeat;
  background-size: 100% 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translate3D(0, 0, 0);
  transform: translate3D(0, 0, 0);
  -webkit-transform-origin: center center;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s; }

#start_zhuan {
  bottom: 0.6875rem;
  width: 5.5625rem;
  height: 3.3125rem;
  background: url("../img/big_button10.png") no-repeat;
  background-size: 100% 100%;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s; }

#zhuanzhen {
  position: absolute;
  width: 1.734375rem;
  left: 4.96875rem;
  bottom: 8.28125rem;
  height: 3.170625rem;
  background: url("../img/big_button12.png") no-repeat;
  background-size: 100% 100%;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s; }

#weizhongjiang {
  top: 5.703125rem;
  width: 7.46875rem;
  height: 8.5rem;
  background: url("../img/big_button23.png") no-repeat;
  background-size: 100% 100%;
  z-index: 1;
  display: none; }
  #weizhongjiang span {
    width: 7.46875rem;
    height: 4.78125rem;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    background: url("../img/big_button14.png") no-repeat;
    background-size: 100% 100%; }

.addanimation0 {
  -webkit-animation: changeSize0 10s ease-in-out 1 forwards;
  animation: changeSize0 10s ease-in-out 1 forwards;
  -webkit-animation-duration: 10s !important;
  animation-duration: 10s !important; }

.addanimation1 {
  -webkit-animation: changeSize1 10s ease-in-out 1 forwards;
  animation: changeSize1 10s ease-in-out 1 forwards;
  -webkit-animation-duration: 10s !important;
  animation-duration: 10s !important; }

.addanimation2 {
  -webkit-animation: changeSize2 10s ease-in-out 1 forwards;
  animation: changeSize2 10s ease-in-out 1 forwards;
  -webkit-animation-duration: 10s !important;
  animation-duration: 10s !important; }

.addanimation3 {
  -webkit-animation: changeSize3 10s ease-in-out 1 forwards;
  animation: changeSize3 10s ease-in-out 1 forwards;
  -webkit-animation-duration: 10s !important;
  animation-duration: 10s !important; }

#mengcheng {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../img/big_button13.png") no-repeat;
  background-size: 100% 100%;
  z-index: 10;
  display: none; }

#zhongjiang {
  bottom: 1.09375rem;
  width: 7.46875rem;
  height: 11.484375rem;
  background: url("../img/bg_picture8.jpg") no-repeat;
  background-size: 100% 100%;
  z-index: 1;
  display: none; }
  #zhongjiang form {
    position: absolute;
    top: 6.71875rem;
    left: 0;
    display: block;
    width: 100%; }
    #zhongjiang form input[type=text] {
      display: block;
      height: 0.703125rem;
      margin: 0 0 0.39063rem 2.1875rem;
      background-color: transparent;
      border: none; }
    #zhongjiang form input[type=submit] {
      display: block;
      width: 4.28125rem;
      height: 2.28125rem;
      background: url("../img/big_button24.png") no-repeat;
      background-size: 100% 100%;
      border: none;
      margin: 0 auto; }

@-webkit-keyframes changeSize0 {
  0% {
    transform: rotateZ(0); }
  100% {
    transform: rotateZ(7410deg); } }
@keyframes changeSize0 {
  0% {
    transform: rotateZ(0); }
  100% {
    transform: rotateZ(7410deg); } }
@-webkit-keyframes changeSize1 {
  0% {
    transform: rotateZ(0); }
  100% {
    transform: rotateZ(7500deg); } }
@keyframes changeSize1 {
  0% {
    transform: rotateZ(0); }
  100% {
    transform: rotateZ(7500deg); } }
@-webkit-keyframes changeSize2 {
  0% {
    transform: rotateZ(0); }
  100% {
    transform: rotateZ(7350deg); } }
@keyframes changeSize2 {
  0% {
    transform: rotateZ(0); }
  100% {
    transform: rotateZ(7350deg); } }
@-webkit-keyframes changeSize3 {
  0% {
    transform: rotateZ(0); }
  100% {
    transform: rotateZ(7530deg); } }
@keyframes changeSize3 {
  0% {
    transform: rotateZ(0); }
  100% {
    transform: rotateZ(7530deg); } }
.logo_title {
  bottom: 14.6875rem;
  height: 0.90625rem;
  background: url("../img/big_button28.png") no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%; }

/*# sourceMappingURL=indexCss.css.map */
