.container {
	max-width: 640px;
	padding: 0px;
}

.cor img {
	width: 40px;
	height: 40px;
	margin-top: 15px;
	
}

.col-xs-4 img {
	width: 210px;
	height: 250px;
}

.row {
	max-width: 640px;
	text-align: center;
}
.row a{
	font-size: 13px;
	text-decoration: none;
	color: silver;
}

.ht img {
	width: 120px;
	
}

.gr img {
	width: 50px;
	height: 44px;
	padding-top: 0px;
	margin-top: 0;
}

.wa img {
	width: 320px;
	margin: 0px;
	padding: 0px;
  

}

[class*='col-'] {
	margin: 0px;
	padding: 0px;
}



.hr img {
	margin: 0px;
	padding: 0px;
	width: 200px;
	
}










.container .row {
	margin:0 auto;
}


 .ta img{
 	
 	height:135px ;
 	margin: 0px;
 	padding: 0px;
 }
 
 .headBar{
           
            height: 40px;
            max-width: 640px;

        }
    .icon-logo{
        padding:0px;
        line-height: 40px;
        text-align: center;
    }
    .icon-logo img{
        width: 57px;
    }
    .headBar-cover{
    	background: #00BFFF;
    position: fixed;
            left: 0;
            right: 0;
            margin: auto;
            z-index: 199;
            height: 40px;
            opacity: 0;
    }
 .top{
            position: fixed;
            left: 0;
            right: 0;
            margin: auto;
            z-index: 999;
        }
 .jd-search-bar{
        line-height: 40px;
    }
        .jd-search{
           display: inline;
            border-radius:15px;
             z-index: 999;
        }
 .login-txt{
            line-height: 40px;
            color: #FFF;
            padding: 0;
            text-align: center;
        }

.login-txt a:hover{
	font-size: 15px;
	color: orange;
}
